.navbar_section {
  background-color: white;
  border: red solid 2px;
  padding: 2vh 4vh;
}

.navbar_section_items {
  border: red solid 2px;


}

.navbar_section_items_section{
  border: aqua solid 2px;

}