.navbar_section {
  background-color: white;
  border: red solid 2px;
  padding: 0vw 3vw;
}

.navbar_section_items {
  border: red solid 2px;


}

.navbar_section_items_section{
  border: aqua solid 2px;

}

.navbar_section_items_section_2{
  border: aqua solid 2px;
  
  display: flex;
  justify-content: center;
  align-items: center;


}

.navbar_section_items_section_1_item{
  text-align: center;
  color: rgb(59, 59, 59);
  font-weight: 500;
  padding: 2vh 1rem;
  text-transform: capitalize;

  /* border: red solid 2px; */
  display: block;


}