.meta {
  
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.5rem;
  text-transform: capitalize;

  /* border: red solid 2px; */

  text-overflow: ellipsis;

  word-break: break-all;

  max-height: 80px;

  overflow: hidden;
  display: -webkit-box;

  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.description {
  margin: 0;
  /* border: red solid 2px; */

  text-overflow: ellipsis;

  word-break: break-all;
  line-height: 2rem;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
