<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CredBLOCK</title>
</head>
<body>
    <h2>Reset Password</h2>
    <hr>
    <p style="margin-top: 15px;margin-bottom: 15px;">Hi ${username}</p>
    <p style="text-align: justify;">A password reset for your account was required</p>
    <p style="text-align: justify;">Please click the button below to change your password</p>
    <a>Please click this link.</a>
    <img src="" alt="">
</body>
</html>