/* login and sign up  */
.login_layout {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: grey;
}

.login {
  width: 100%;
  height: 100%;
  margin: auto;

  background-color: white;
  padding: 0px;
}

.loginForm {
  padding: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_loginForm {
  width: 100%;
  max-width: 500px;
}

.hr_line {
  margin: 2.5rem auto;
}

.header {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.sub_header {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: rgb(105, 105, 105);
}

.login_button {
  width: 100%;
}

.text_align {
  text-align: center;
}

/* signup form page */
.xs_font {
  font-size: 1.1rem !important;
}

/* forgot password page */
.forgotPwd_header {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.forgotPwd_sub_header {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: normal;
  text-align: left;
  color: rgb(105, 105, 105);
}

.margin_bottom_input{
  margin-bottom: 5rem;
}

.forgotPwd_redirect{
  display: block;
  text-align: center;
  width: 100%;
}

@media (max-width: 480px) {
  .loginForm {
    align-items: flex-start;
  }
}
